body{
    background: burlywood;
}

h2{
    background-color: dodgerblue;
    color: gold;
    font-size: 30px;
    text-align: center;
}
/* h2:first-child{
    background-color: black;
    color: white;
} */

h2:last-child{
    background-color: black;
    color: white;
}
a{
    background-color: yellow;
    color: black;
    font-size: 34px;
}
a:hover{
    background-color: red;
    font-size: 50px;
    color:white;
}
h2:hover{
    background-color: tomato;
    color: turquoise;
    font-size: 40px;
}